<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648465021458-6tudfq29dg75943bbegj4d6via02h4fs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648465021458-6tudfq29dg75943bbegj4d6via02h4fs</string>
	<key>API_KEY</key>
	<string>AIzaSyA5IvCyKuUHYE08JNdZakLjPOHVJjeR-AY</string>
	<key>GCM_SENDER_ID</key>
	<string>648465021458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.globemw.gps</string>
	<key>PROJECT_ID</key>
	<string>globegps</string>
	<key>STORAGE_BUCKET</key>
	<string>globegps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648465021458:ios:4711282446e9b573f976cb</string>
	<key>DATABASE_URL</key>
	<string>https://globegps-default-rtdb.firebaseio.com</string>
</dict>
</plist>